.container{
    height: 200px;
    width: 200px;
    perspective: 600px;
    margin: 100px auto;
  }

  .cube{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
  }

  .cube-side{
    position: absolute;
    height: 200px;
    width: 200px;
    color: #fff;
    line-height: 200px;
    text-align:center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    /* transform: translateZ(100px); */
  }


  .front{
      background: rgba(41, 236, 243, 0.7);
      transform: rotateY(0deg) translateZ(100px);
  }

  .back{
      background: rgba(72, 255, 56, 0.7);
      transform: rotateY(180deg) translateZ(100px);
  }

  .top{
      background: rgba(209, 255, 41, 0.7);
      transform: rotateX(90deg) translateZ(100px);
    }

  .bottom{
    background: rgba(255, 51, 24, 0.7);
    transform: rotateX(-90deg) translateZ(100px);
  }

  .right{
    background: rgba(123, 41, 255, 0.7);
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left{
    background: rgba(255, 156, 8, 0.7);
    transform: rotateY(-90deg) translateZ(100px);
  }