.container{
    height: 200px;
    width: 200px;
    perspective: 600px;
  }

  .cube{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
  }

  .cube-side{
    position: absolute;
    height: 200px;
    width: 200px;
  }